@import "../../../styles/variables.module.scss";

.select-image {
  display: flex;
  align-items: center;
  gap: $unit;
  padding-bottom: $unit;
  p {
    font-size: 0.875rem;
    text-transform: uppercase;
    font-weight: 700;
    &:hover {
      opacity: 0.75;
      cursor: pointer;
    }
    
  }
}