@import "../../../styles/variables.module.scss";

.data-view {
  width: 100%;
  height: 100%;
  display: flex;
  gap: calc(2 * #{$unit});
  flex-direction: column;
  grid-column: 1 / 5;
  padding-bottom: calc(4 * #{$unit});
  overflow-y: auto;
  @media (min-width: 800px) {
    grid-column: 1 / 9;
  }
  @media (min-width: $xxl) {
    width: 100%;
    padding-left: 32px;
    padding-right: 32px;
  }
}
