@import '../../../styles/variables.module.scss';

.card-list {
  width: 100%;
  .card {
    border: 1px solid $border;
    border-radius: calc(0.25 * #{$unit});
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: $unit;
    @media (min-width: $md) {
      max-width: 50%;
    }
    .card-row {
      width: 100%;
      display: flex;
      flex-direction: column;
      &:last-child {
        .data-cell {
          &:last-child {
            p {
              width: 100%;
              a {
                width: 100%;
              }
            }
          }
        }
      }
      .data-cell {
        a {
          width: 100%;
        }
        &:first-child {
          background-color: $primaryColorLight;
          p {
            font-weight: 600;
            text-transform: capitalize;
          }
        }
        &:last-child {
          justify-content: start;
        }
      }
    }
  }
}
.table {
  width: 100%;
  display: flex;
  flex-direction: column;
  .table-header,
  .table-row {
    width: 100%;
    display: flex;
    align-items: center;
    p {
      width: 100%;
    }
    .data-cell {
      // &:first-of-type {
      //   display: none;
      // }
      &:last-child {
        p {
          justify-content: end;
        }
      }
    }
  }
  .table-header {
    background-color: $primaryColorLight;
    p {
      font-weight: 600;
      text-transform: capitalize;
    }
  }
  .display-servicii {
    .data-cell {
      &:nth-child(1) {
        display: none;
      }
      &:nth-child(2) {
        min-width: 300px;
      }
    }
  }
  .display-specializari, .display-zone {
    .data-cell {
      &:nth-child(1) {
        display: none;
      }
    }
  }
  .display-terapeuti {
    .data-cell {
      &:nth-child(1), &:nth-child(5), &:nth-child(7) {
        display: none;
      }
    }
  }
  .display-comenzi {
    .data-cell {
      &:nth-child(1), 
      &:nth-child(6), 
      &:nth-child(7),
      &:nth-child(9), 
      &:nth-child(10),
      &:nth-child(12) {
        display: none;
      }
    }
    .data-cell {
      &:nth-child(11){
        min-width: 192px;
      }
    }
    .data-cell {
      &:nth-child(13){
        max-width: 96px;
      }
    }
    .data-cell {
      &:nth-child(14){
        max-width: 64px;
      }
    }
  }
  .display-admin {
    .data-cell {
      &:nth-child(1){
        display: none;
      }
    }
  }
}
