@import '../../../../styles/variables.module.scss';

.data-cell {
  display: flex;
  width: 100%;
  padding: calc(0.5 * #{$unit}) calc(0.5 * #{$unit});
  gap: 12px;
  align-items: center;
  &:last-child {
    justify-content: end;
  }
}
