@import '../../../styles/variables.module.scss';
.programare {
  display: flex;
  flex-direction: column;
  width: 100%;
  a {
    width: 100%;
  }
}
p.warning-message {
  color: $warning;
  font-size: 0.875rem;
  font-weight: 600;
}
