@import '../../../styles/variables.module.scss';
.login {
  width: 100%;
  max-width: 480px;
  margin: auto;
  padding-left: $unit;
  padding-right: $unit;
  padding-bottom: var(--dashboard-login-padding-bottom);
}
