@import '../../../styles/variables.module.scss';
.login {
  width: 100%;
  height: var(--dashboard-height);
  padding-left: $unit;
  padding-right: $unit;
  padding-bottom: var(--dashboard-login-padding-bottom);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  a {
    width: 100%;
    max-width: 400px;
  }
  p.login-error {
    color: $warning;
    font-size: 0.875rem;
    margin-top: $unit;
    font-weight: 500;
  }
}
