@import "../../../styles/variables.module.scss";

.navlink-admin {
  padding: calc(0.75 * #{$unit}) calc(2 * #{$unit});
  &:hover {
    background-color: $primaryColorLight;
    cursor: pointer;
    p {
      color: $textDark;
    }
  }
  p {
    font-size: 0.75rem;
    font-family: "Montserrat", sans-serif;
    text-transform: capitalize;
    letter-spacing: 0.0187rem;
    font-weight: 500;
  }
}

.active {
  background-color: $primaryColor;
  p {
    color: $textLight;
  }
}
